<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>域名解析管理</title>
    <link rel="stylesheet" href="css/console.css">
</head>
<body>
<div class="container">
    <!-- 左侧固定菜单 -->
    <div class="sidebar" id="sidebar">
        <div class="user-info">
            <img src="img/user.png">
            <h3>管理员</h3>
        </div>
        <ul class="menu" id="menu">
            <li id="user_list" th:each="user : ${users}" class="active">
                <a  data-page="domainList" id="names" href="#" class="user-link" th:text="${user.name}">用户</a>
                <input id="ids" type="hidden" class="user-id" th:value="${user.id}">
                <input id="keys" type="hidden" class="user-key" th:value="${user.key}">
            </li>
            <li  class="active" >
                <a href="#" data-page="addDomain" class="user-link">添加用户</a>
            </li>
        </ul>
    </div>

    <!-- 右侧动态内容区 -->
    <div class="main-content" id="content">

    </div>
</div>
<script src="js/console.js"></script>
</body>
</html>