<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="container">

    <form class="login_form" id="login" th:action="@{/login}" method="post">
        <div class="header">
            <h1>用户登录</h1>
        </div>
        <div class="input-group">
        <input th:value="${password}" type="password" name="password" placeholder="请输入密码"/>
            <div class="error">
                <p th:text="${error}"></p>
            </div>
        <button type="submit">登录验证</button>
        </div>
    </form>

</div>
</body>
</html>